    <body>
    <link rel="stylesheet" href="/styleHome.css">
    <link rel="stylesheet" href="/font.css">       

    <section class="sec1">
        <h3>I am Hopper</h3>
        <p>Can I talk to you for a sec?</p>
    </section>

    <section class="sec2">        
        <input type="submit" id="more" value="Find out more">
    </section>
    </body>