* {
    font-family: Roboto;    
}
nav {
    display: flex;
}
ul {
    display: flex;
    justify-content:space-around;
    align-items: center;    
    list-style: none;    
}

a {
    color: black;
    text-decoration-line: none;
    text-decoration: none;
}